{
  "EmailSettings": {
    "Provider": "Auto",
    "SmtpHost": "smtp.gmail.com",
    "SmtpPort": 587,
    "UseSsl": true,
    "Username": "YOUR_GMAIL@gmail.com",
    "Password": "YOUR_GMAIL_APP_PASSWORD",
    "FromEmail": "YOUR_GMAIL@gmail.com",
    "FromName": "FlowMate",
    "AppBaseUrl": "https://localhost:7264",
    "BrevoApiKey": "",
    "UseDevFileFallback": true
  }
}
